[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dnspython = "*"
fastapi = "*"
requests = "*"
structlog = "*"
uvicorn = "*"

[dev-packages]
bandit = "*"
black = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-asyncio = "*"
pylint = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true

[scripts]
test = "pytest"
