<style>
    * {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    body {
        font-family: Helvetica;
        -webkit-font-smoothing: antialiased;
        background: #F0EBE3;
    }

    h2 {
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: black;
        padding: 30px 0;
    }

    /* Table Styles */

    .table-wrapper {
        margin: 10px 70px 70px;
        box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
    }

    .fl-table {
        border-radius: 5px;
        font-size: 12px;
        font-weight: normal;
        border: none;
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        white-space: nowrap;
        background-color: #E4DCCF;
    }

    .fl-table td,
    .fl-table th {
        text-align: center;
        padding: 8px;
    }

    .fl-table td {
        border-right: 1px solid #F0EBE3;
        font-size: 12px;
    }

    .fl-table td:last-child {
        border-right: 0px solid #F0EBE3;
    }

    .fl-table thead th {
        color: #ffffff;
        background: #576F72;
    }


    .fl-table thead th:nth-child(odd) {
        color: #ffffff;
        background: #7D9D9C;
    }

    .fl-table tr:nth-child(even) {
        background: #F0EBE3;
    }

    /* Responsive */

    @media (max-width: 767px) {
        .fl-table {
            display: block;
            width: 100%;
        }

        .table-wrapper:before {
            content: "Scroll horizontally >";
            display: block;
            text-align: right;
            font-size: 11px;
            color: white;
            padding: 0 0 10px;
        }

        .fl-table thead,
        .fl-table tbody,
        .fl-table thead th {
            display: block;
        }

        .fl-table thead th:last-child {
            border-bottom: none;
        }

        .fl-table thead {
            float: left;
        }

        .fl-table tbody {
            width: auto;
            position: relative;
            overflow-x: auto;
        }

        .fl-table td,
        .fl-table th {
            padding: 20px .625em .625em .625em;
            height: 60px;
            vertical-align: middle;
            box-sizing: border-box;
            overflow-x: hidden;
            overflow-y: auto;
            width: 120px;
            font-size: 13px;
            text-overflow: ellipsis;
        }

        .fl-table thead th {
            text-align: left;
            border-bottom: 1px solid #576F72;
        }

        .fl-table tbody tr {
            display: table-cell;
        }

        .fl-table tbody tr:nth-child(odd) {
            background: none;
        }

        .fl-table tr:nth-child(even) {
            background: transparent;
        }

        .fl-table tr td:nth-child(odd) {
            background: #F8F8F8;
            border-right: 1px solid #576F72;
        }

        .fl-table tr td:nth-child(even) {
            border-right: 1px solid #576F72;
        }

        .fl-table tbody td {
            display: block;
            text-align: center;
        }
    }

</style>

<h2>392155 Netzwerkprogrammierung Abschlussprojekt - Sebastian Kowalak</h2>
<div class="table-wrapper">
    <table class="fl-table" id="replica-table">
        <thead>
            <tr>
                <th>App Name</th>
                <th>Replica ID</th>
                <th>State</th>
                <th>Term</th>
            </tr>
        </thead>
        <tbody id="replica-table-body">
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        <tbody>
    </table>
</div>

<script type="text/javascript">
    function clearTable() {
        tbody = document.getElementById("replica-table-body");
        tbody.innerHTML = '<tr id="row"></tr>';
    }

    function fillTable(data) {
        row = document.getElementById("row");
        data.forEach(item => row.insertAdjacentHTML(
            'beforebegin',
            `<tr><td style="width: 1px;">${item.app_name}</td><td>${item.id}</td><td>${item.state}</td><td>${item.term}</td></tr>`
        ));
    }

    // repeat every second
    const interval = setInterval(() => {
        clearTable()
        fetch("http://{{ host }}:{{ port }}/nodes")
            .then((response) => response.json())
            .then((data) => {
                // fill table
                fillTable(data.nodes)
            });

    }, {{ refresh_rate }});
</script>
